.bg-image{
    background-image: url('images/casa-kame-de-dragon-ball_3840x2160_xtrafondos.com.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}


.rounded-div {
    width: 420px; 
    height: 180px; 
    background-color: rgba(255, 255, 255, 0.659); 
    border-radius: 20px; 
    padding: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .rounded-div-juego {
    width: 720px; 
    height: 500px; 
    background-color: rgba(255, 255, 255, 0.659); 
    border-radius: 20px; 
    padding: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.radar{
    width: 550px;
    height: 500px;
    padding: 20px;
    position: relative;
}

.esfera{
    width: 50px;
    height: 50px;
    position: absolute;
}

.esfera.estrella1.active{
    transform: translate(-50%,-50%);
    top: 45%;
    left: 69%;
    opacity: 0;
    animation: fadeIn 2s forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.esfera.estrella2.active{
    transform: translate(-50%,-50%);
    top: 50%;
    left: 72%;

    opacity: 0;
    animation: fadeIn 2s forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.esfera.estrella3.active{
    transform: translate(-50%,-50%);
    top: 57%;
    left: 71%;

    opacity: 0;
    animation: fadeIn 2s forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.esfera.estrella4.active{
    transform: translate(-50%,-50%);
    top: 60%;
    left: 68%;

    opacity: 0;
    animation: fadeIn 2s forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.esfera.estrella5.active{
    transform: translate(-50%,-50%);
    top: 55%;
    left: 65%;

    opacity: 0;
    animation: fadeIn 2s forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.esfera.estrella6.active{
    transform: translate(-50%,-50%);
    top: 48%;
    left: 66%;

    opacity: 0;
    animation: fadeIn 2s forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.esfera.estrella7.active{
    transform: translate(-50%,-50%);
    top: 52.5%;
    left: 68.5%;

    opacity: 0;
    animation: fadeIn 2s forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}




.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background: #0056b3;
}


#video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 1000px;
    object-fit: cover; /* Ajusta el video para cubrir todo el área sin distorsionarlo */
    z-index: -1; /* Asegura que el video quede detrás del contenido */
}